<div class="list">
    <div class="title">Управление опросами</div>
    <div onclick="openPopup('cat_dWin');" class="add-cat-butt"><div class="add"></div>Добавить опрос</div>
    <div class="level1">
        <div class="items">
            <div class="setting-item">
                <div style="padding: 20px; text-align:left" class="title">Метка для вывода опросов {{ pl_votes }}</div>
            </div>
        </div>
    </div>
    <table cellspacing="0" class="lines grid">
     <tbody>
        <tr>
            <th width="25%">Вопрос</th>
            <th>Варианты</th>
            <th width="15%">Проголосовавших</th>
            <th width="20px">Действие</th>
        </tr>
        {% if pl.votes %}
        {% for vote in pl.votes %}
            <tr>
                <td>{{ vote.question }}</td>
                <td>
                {% for qw in vote.variables %}
                    <span style="color:#{{ qw.color }}">{{ qw.name }}</span>&nbsp;({{ qw.cnt }})
                    <br/>
                {% endfor %}
                </td>
                <td>{{ vote.voted }}</td>
                <td>
                {{ vote.action.edit_link }}
                {{ vote.action.del_link }}
                
                
                    <div id="{{ vote.action.editform.key }}_dWin" class="popup">
                        <div class="top">
                            <div class="title">Редактирование опроса</div>
                            <div class="close" onclick="closePopup('{{ vote.action.editform.key }}_dWin');"></div>
                        </div>
                        <div class="items">
                            <form action="plugins.php?ac=edit&plac=edit&dir={{ vote.action.editform.dir }}&id={{ vote.action.editform.key }}" method="POST">
                                <div class="xw-mc">
                                    <div class="item">
                                        <div class="left">Вопрос голосования:</div>
                                        <div class="right">
                                            <input type="hidden" name="oldval" value="{{ vote.question }}" />
                                            <input type="text" style="width:230px" name="title" value="{{ vote.question }}" />
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                    <div id="{{ vote.action.editform.key }}_fps-votes-fields">
                                    {% for qw in vote.variables %}
                                        <div class="item">
                                            <div class="left">Вариант {{ qw.id }}:</div>
                                            <div class="right">
                                                <input type="text" style="width:230px" name="variant[]" value="{{ qw.name }}" />
                                                <a class="delete DelParObj" title="Удалить вариант №{{ qw.id }}"></a>
                                            </div>
                                            <div style="clear:both;"></div>
                                         </div>
                                    {% endfor %}                     
                                    </div>
                                    <div class="item" style="margin-top: 5px;text-align:center"s>
                                        <a onClick="addField('{{ vote.action.editform.key }}')" href="javascript:void(0)">Добавить вариант ответа</a><br />
                                        <div style="clear:both;"></div>
                                    </div>
                                    <br>
                                    <div style="text-align: center">
                                        <input class="save-button" type="submit" name="send" value="Сохранить">
                                        <div style="clear:both;"></div>
                                    </div>
                                        
                                </div>
                            </form>
                        </div>
                    </div>
                

                </td>
            </tr>
        {% endfor %}
        {% else %}
            <tr><td align="center" colspan="5"><h2 style="color:#44B30F;">В этом плагине настраивать нечего!</h2></td></tr>
        {% endif %}
      </tbody>
    </table>
</div>


<!--        Adding Vote           -->
<script type="text/javascript">
function addField(id) {
    var cont = $('#'+id+'_fps-votes-fields').find('input');
    var block = $('#'+id+'_fps-votes-fields');

    //Формируем DOM нового пункта(такой сложный способ не с проста)
    el = $("<div/>", {"class": "item"}).appendTo(block);
    $("<div/>", {"class": "left", text: "Вариант " + (cont.length + 1)}).appendTo(el);
    el2 = $("<div/>", {"class": "right"}).appendTo(el);
    $("<input/>", {"type": "text","style": "width:230px","name": "variant[]","value":""}).appendTo(el2);
    $("<a/>", {
        "class": "delete DelParObj",
        "title": "Удалить вариант №" + (cont.length + 1),
        click: function(){
          removeVariant($(this));
        }
    }).appendTo(el2);
    $("<div/>", {"style": "clear:both;"}).appendTo(el);
}
function removeVariant(element) {
    element.parents(".item").remove();
}
$('.DelParObj').click( function() {
    removeVariant($(this));
});
</script>

<div id="cat_dWin" class="popup">
    <div class="top">
        <div class="title">Добавление опроса</div>
        <div class="close" onclick="closePopup('cat_dWin');"></div>
    </div>
    <div class="items">
    <form action="plugins.php?ac=edit&plac=add&dir={{ pl.dir }}" method="POST">
        <div class="item">
            <div class="left">Вопрос голосования:</div>
            <div class="right">
                <input type="hidden" name="type" value="forum" />
                <input type="text" style="width:230px" name="title" />
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="{{ pl.uniqid }}_fps-votes-fields">
            <div class="item">
                <div class="left">Вариант 1:</div>
                <div class="right">
                    <input type="text" style="width:230px" value="" name="variant[]" />
                    <a class="delete DelParObj" title="Удалить вариант №{{ qw.id }}"></a>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>

        <div class="item" style="margin-top: 5px;text-align:center">
        <a onClick="addField('{{ pl.uniqid }}')" href="javascript:void(0)">Добавить вариант ответа</a><br />
        <div style="clear:both;"></div>
        </div>

        <br>
        <div style="text-align: center">
        <input class="save-button" type="submit" name="send" value="Сохранить">
        </div>

        <div style="clear:both;"></div>
    </form>
    </div>
</div>