<div class="material">
	  <div class="mat-title"><h1>Список пользователей</h1></div>
	  <div class="mat-content">

        <div class="userlistsortirovka">
		Сортировать по:
            <ul>
                   <li>{{ getOrderLink(['name','Имя']) }}</li>
		           <li>{{ getOrderLink(['puttime','Дата регистрации']) }}</li>
                   <li>{{ getOrderLink(['last_visit','Последний визит']) }}</li>
                   <li>{{ getOrderLink(['status','Группа']) }}</li>
				   <li>{{ getOrderLink(['rating','Репутация']) }}</li>
                   <li>{{ getOrderLink(['warnings','Предупреждения']) }}</li>
                   <li>{{ getOrderLink(['ban_expire','Блокировка']) }}</li>
            </ul>
        </div>

         <ul class="userlist">
		     {% if entities %}
             {% for user in entities %}
                            <li>
							       <div class="userlistavatar"><img src="{{ getAvatar(user.id) }}" class="avatar" alt=""/></div>
							        <div class="listuser">
								          <ul class="listuserbuttons">
									          {% if checkAccess([module, 'view_users']) %}<li><a href="{{ www_root }}/users/info/{{ user.id }}" class="button2">Профиль</a></li>{% endif %}
                                              {% if fps_user_id %}<li><a href="{{ www_root }}/users/send_pm_form/{{ user.id }}" class="button2">Отправить ЛС</a></li>{% endif %}
                                              {% if fps_user_id and checkAccess([module, 'edit_users']) %}<li><a href="{{ www_root }}/users/edit_form_by_admin/{{ user.id }}" class="button2">Изменить профиль</a></li>{% endif %}									
								          </ul>
								          <h3 class="userlisttitle"><a href="{{ www_root }}/users/info/{{ user.id }}">{{ user.name }}</a></h3>
										   {% if user.rating %}
				                              {% if user.rating >= 1 %}
											  <p class="listreputation" style="background-color: #780;"><span>{{ user.rating }}</span></p>
				        	                  {% else %}
											  <p class="listreputation" style="background-color: #C54C4C;"><span>{{ user.rating }}</span></p>
					                          {% endif %}
				                           {% else %}
										       <p class="listreputation" style="background-color: #999;"><span>{{ user.rating }}</span></p>
                                           {% endif %}
								          <div>
								               <span>
                                              {% if user.baned %}
                                                    <s style="color:{{ user.group_color }}">{{ user.group }}</s>(Заблокирован до {{ user.baned }})
                                              {% else %}
                                                    <span style="color:{{ user.group_color }}">{{ user.group }}</span>
                                              {% endif %}
                                               </span><span>{{ user.posts }} сообщений</span><span><b>Регистрация:</b>  {{ user.puttime }}</span><span><b>Последний визит:</b> {{ user.last_visit }}</span>
								          </div>
							        </div>
                            </li>
			{% endfor %}
            {% endif %}
         </ul>
		 
        <div class="userlistsortirovka">
		Сортировать по:
            <ul>
                   <li>{{ getOrderLink(['name','Имя']) }}</li>
		           <li>{{ getOrderLink(['puttime','Дата регистрации']) }}</li>
                   <li>{{ getOrderLink(['last_visit','Последний визит']) }}</li>
                   <li>{{ getOrderLink(['status','Группа']) }}</li>
				   <li>{{ getOrderLink(['rating','Репутация']) }}</li>
                   <li>{{ getOrderLink(['warnings','Предупреждения']) }}</li>
                   <li>{{ getOrderLink(['ban_expire','Блокировка']) }}</li>
            </ul>
        </div>
		
      </div>
</div>