{% if context.to_user %}
<script type="text/javascript">
// подставляем id юзера с которого был переход
window.onload = function(){
    var id;
	id = intURLafter();// получаем id юзера из url
    if (id !== undefined) {
	     var backlink = $('#backuplink'), backlinkhref = '{{ www_root }}/users/info/';
	     backlink.attr("href", backlinkhref + id);
		 backlink.html("Вернуться к {{ context.to_user }}");
		 
		 var pmlink = $('#pm'), pmlinkhref = '{{ www_root }}/users/send_pm_form/';
	     pmlink.attr("href", pmlinkhref + id);
		 
		 var msglink = $('#msg'), msglinkhref = '{{ www_root }}/users/send_mail_form/';
	     msglink.attr("href", msglinkhref + id);
	}
}
</script>
{% endif %}

<form name="sendMailForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu('sendForm'); return false">
	<div class="material">
	  <div class="mat-title">Отправление письма на почту: {{ context.to_user }}</div>
	  <div class="mat-content">
	  <div class="userblock">
		  <ul class="userslinks">
		         <li><a id="backuplink" href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
				 {% if fps_user_id %}
                 <li><a href="{{ www_root }}/users/pm/">Сообщения</a></li>
				 {% endif %}
				 <li><a id="pm" href="{{ www_root }}/users/send_pm_form/">Отправить ЛС</a></li>
				 <li class="active"><a id="msg" {% if context.to_user %}href="{{ www_root }}/users/send_mail_form/"{% endif %}>Отправить на почту</a></li>
		  </ul>
	      <div class="userinfo">
		    <ul class="spisok-all">
            <li>
              <span class="siu_title"><strong><font color="red">*</font> Кому:</strong>Внимание, в форме предусмотрен поиск по именам</span>
              <span class="siu_data">
			    <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.to_user }}" list="findusers" />
				<datalist id="findusers"></datalist>
			  </span>
            </li>
			<li>
              <span class="siu_title"><strong><font color="red">*</font> Заголовок сообщения:</strong></span>
              <span class="siu_data"><input type="text" name="subject" maxlength="60" value="{{ context.subject }}" />
			  </span>
            </li>
			<li>
              <textarea name="message" cols="60" rows="15" style="width: 99%;">{{ context.message }}</textarea>
            </li>
			<li>
              <input class="subm" type="submit" name="submitForm" value="Отправить" />
            </li>
		    </ul>
	      </div>
	  </div>
    </div>
	</div>
</form>