<div class="material">
      <div class="mat-title"><a href="{{ entity.atom.entry_url }}"><h1>{{ entity.title }}</h1></a><div class="mod-panel">{{ entity.atom.moder_panel }}</div></div>
	  <div class="mat-content">
		    <div class="main_text margin">{{ entity.atom.main_text }}</div>
            <div class="infomats">
		        <div class="namesmats"><b class="title">{{ entity.title }}</b>
				<br />
				{% if entity.tags %}
				<br /><b>Теги: </b>{% for tag in entity.tags %}<a href="{{ www_root }}/news/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
				{% endif %}
				{% if entity.sourse %}<br /><b>Источник:</b> {{ entity.sourse }}{% endif %}
                
                {% if entity.atom.attaches_list and context.locked_attaches == 0 %}
                  <br /><b>Прикрепленные файлы:</b>
                  <div class="attaches">
                      {% if checkAccess([module,'download_files']) %}
                          {% for file in entity.atom.attaches_list %}
                            <a href="{{ file.url }}">{{ file.name }} ({{ file.size }})</a><br/>
                          {% endfor %}
                      {% else %}
                      У вас нет прав для скачивания прикрепленных файлов
                      {% endif %}
                  </div>
                {% endif %}
                    
				</div>
		        <div class="infomatsright">
			      <b>Автор:</b><a href="{{ entity.atom.profile_url }}"> {{ entity.author.name }}</a>
				  <br /><b>Категория:</b> <a href="{{ entity.atom.category_url }}">{{ entity.category.title }}</a>
			      <br /><b>Просмотров:</b> {{ entity.views }}
				  {% if entity.commented %}<br /><b>Комментариев:</b> {{ entity.comments }}{% endif %}
				  <br />
				  <br /><script language="JavaScript" type="text/javascript" src="{{ www_root }}/data/js/share.js"></script>
			    </div>
	        </div>
      </div>
</div>
{{ relmat }}